@charset "utf-8";
/* Text color */
.colr																		{color:#884932 !important;}
.txthover:hover																{color:#884932 !important;}
.backcolr																	{background-color:#884932 !important;}
.backcolrhover:hover														{background-color:#884932 !important;}
.backcolrdark																{background-color:#884932 !important; background-image:url(../images/black.png);}
.bordercolr																	{border-color:#884932 !important;}
.bordercolrover:hover														{border-color:#884932 !important;}
/* Navigation */
.ddsmoothmenu ul li ul li ul li a:hover										{background-color:#884932 !important;}
.ddsmoothmenu ul li a:hover, 
.ddsmoothmenu ul li.current-menu-item a, .ddsmoothmenu ul li a.selected 	{background-color:#884932;}

.wp-calendar ul.dates li a:hover											{background-color:#884932;}
.breadcrumb ul li a:hover													{color:#884932;}
.fc-header 																	{background-color:#884932;}
.fc-event-skin																{background-color:#884932;}
.sermons-list ul li:hover .sermon-detail h4 a								{color:#884932;}